html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*=== SMALL SCREEN VERSION ===*/
@media (min-width: 300px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #082b59;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    line-height: 2;
  }

  h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  article {
    flex-basis: 73%;
  }

  figure {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  figure img {
    border-radius: 10px;
  }

  img {
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  a {
    color: #59331d;
  }
  a:hover {
    text-decoration: none;
  }

  header {
    border-bottom: 10px solid #d98555;
  }
  
  .main-bkgd {
    background: #ffffff url("../images/gulp-bottom-beans.jpg") repeat-x bottom;
    padding-bottom: 300px;
  }

  /* sits inside of the white background, centered */
  .main {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .button {
    display: inline-block;
    background-color: #59331d;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0;
    color: #f2f2f2;
    text-decoration: none;
    border: 3px solid #59331d;
  }
  .button:hover {
    background-color: #f2f2f2;
    color: #59331d;
  }

  nav .logo img {
    max-width: 150px;
  }

  nav li {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
    /* max width on the image in pixels */
    /* flex basis on the image container, li */
  }
  nav li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
  }
  nav li a:hover {
    color: #d98555;
  }

  .product {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  footer {
    color: #f2f2f2;
    text-align: center;
    border-top: 10px solid #d98555;
  }
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }
}
/*=== MEDIUM SCREEN VERSION ===*/
@media (min-width: 550px) and (max-width: 750px) {
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  nav .logo {
    flex-basis: 100%;
    text-align: center;
  }

  nav li {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
  }

  .main-bkgd .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  .main-bkgd .main h1 {
    grid-column: 1/-1;
    grid-row: 1;
  }
  .main-bkgd .main article {
    grid-row: 2;
    grid-column: 1;
  }
  .main-bkgd .main figure {
    grid-row: 2;
    grid-column: 2;
  }

  .main-bkgd .product {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  .main-bkgd .product article h2 {
    font-size: 1.05rem;
  }
  .main-bkgd .product h1 {
    grid-column: 1/-1;
    grid-row: 1;
  }
  .main-bkgd .product .figure-one {
    grid-row: 2;
    grid-column: 1;
  }
  .main-bkgd .product .article-one {
    grid-row: 2;
    grid-column: 2;
  }
  .main-bkgd .product .figure-two {
    grid-row: 3;
    grid-column: 1;
  }
  .main-bkgd .product .article-two {
    grid-row: 3;
    grid-column: 2;
  }
  .main-bkgd .product .figure-three {
    grid-row: 4;
    grid-column: 1;
  }
  .main-bkgd .product .article-three {
    grid-row: 4;
    grid-column: 2;
  }

  figure {
    margin: 3rem 0 0 0;
    flex-basis: 25%;
    border-radius: 10px;
  }
}
/*=== LARGE SCREEN VERSION ===*/
@media (min-width: 750px) {
  nav ul {
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin-right: 25px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  nav ul .logo {
    grid-row: 1;
    grid-column: 1;
  }
  nav ul .link-one {
    grid-row: 1;
    grid-column: 8;
  }
  nav ul .link-two {
    grid-row: 1;
    grid-column: 9;
  }
  nav ul .link-three {
    grid-row: 1;
    grid-column: 10;
  }

  section,
article {
    max-width: 1200px;
    margin: 0 auto;
  }

  section li {
    display: inline-block;
    margin-right: 1rem;
  }

  .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .card {
    flex-basis: 30%;
    /* turn off mobile settings */
    margin: 0;
    padding: 0;
  }

  .main-bkgd .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  .main-bkgd .main h1 {
    grid-column: 1/-1;
    grid-row: 1;
  }
  .main-bkgd .main article {
    grid-row: 2;
    grid-column: 1;
  }
  .main-bkgd .main figure {
    grid-row: 2;
    grid-column: 2;
  }

  .main-bkgd .product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  .main-bkgd .product h1 {
    grid-column: 1/-1;
    grid-row: 1;
  }
  .main-bkgd .product .figure-one {
    grid-row: 2;
    grid-column: 1;
  }
  .main-bkgd .product .article-one {
    grid-row: 2;
    grid-column: 2;
  }
  .main-bkgd .product .figure-two {
    grid-row: 2;
    grid-column: 3;
  }
  .main-bkgd .product .article-two {
    grid-row: 3;
    grid-column: 1;
  }
  .main-bkgd .product .figure-three {
    grid-row: 3;
    grid-column: 2;
  }
  .main-bkgd .product .article-three {
    grid-row: 3;
    grid-column: 3;
  }

  figure {
    flex-basis: 25%;
  }
